*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}
.container-fluid{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100vw;
    height: 80px;
    /* background-color: rgb(104, 35, 35); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img{
    height: 40px;
    width: 80px;
}
.nav-menu{
    /* background-color: aqua; */
    width: 60vw;
}
.nav-menu-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}
.list-item{
    cursor: pointer;
}

.hero-section{
    width: 80%;
    height: 85vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img-div{
    width: 35%;
    height: inherit;
    /* background-color: blanchedalmond; */
    background-image: url(./assets/prj_15_hero_img.png);
    background-size: cover;
    background-position: center;
}

.hero-text-div{
    width: 60%;
    height: 40vh;
    /* background-color: blueviolet; */
}

.hero-text-div h3, h1{
    font-family: 'Montserrat', sans-serif;
}

.hero-text-div h3{
    font-weight: 600;
    color: #C91B28;
}

.hero-text-div h1{
    font-size: 50px;
    color: #ffffff;
}


.hero-text-div p{
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    line-height: 20px;
    color: #ffffff;
}


.hero-text-div button{
    margin-top: 20px;
    padding: 14px 28px;
    border-radius: 0;
    border: none;
    background-color: #C91B28;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.services{
    width: 100%;
    height: 860px;
    background-color: #03C6C7;
    position: relative;
}

.services-grey{
    width: 50%;
    height: inherit;
    background-color: #181818;
}

.services-offered{
    width: 80%;
    height: 320px;
    /* background-color: blueviolet; */
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;

}
.ui-design, .branding{
    background-color: #1E1E1E;
}

.product-design{
    background-color: #C91B28;
}

.product-design span{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}


.product-design i{
    color: #ffffff;
    font-weight: 600;
}

.ui-design, .product-design, .branding{
    width: 31%;
    height: 100%;
    padding: 3% 5%;
    /* background-color: chartreuse; */
}

.ui-design img, .product-design img, .branding img{
    height: 60px;
    width: 60px;
    margin-bottom: 16px;
}


.ui-design h2, .product-design h2, .branding h2{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 16px;
}

.ui-design p, .product-design p, .branding p{
    font-family: 'Montserrat', sans-serif;
    color: #F4F4F4;
    font-size: 18px;
    margin-bottom: 16px;
}


.services-experience{
    width: 80%;
    height: 250px;
    /* background-color: brown; */
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}

.total-experience{
    width: 40%;
    height: 100%;
    /* background-color: cadetblue; */
    text-align: center;
    padding: 4% 0;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */

}

.total-experience h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 84px;
    font-weight: 700;
    color: #C91B28;
}

.total-experience h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color:#F4F4F4;
    
}

.clients-and-projects{
    width: 60%;
    height: 100%;
    /* background-color: fuchsia; */
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-item{
    padding: 5% 0;
    background-color: #1E1E1E;
    text-align: center;

}

.grid-item h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #C91B28;
    margin-bottom: 5px;
}

.grid-item span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F4F4F4;

}

.featured {
    width: 80%;
    height: 1100px;
    /* background-color: burlywood; */
    /* padding: 5% 10%; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.featured-text-and-btn{
    width: 100%;
    height: 120px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-text{

}

.featured-text h1{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}

.featured-text p{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 14px;
}

.featured-btn{
    padding: 16px 34px;
    border-radius: 0;
    border: none;
    background-color: #C91B28;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;

}

/* Both Display One and Two can be put together  */
.featured-display-one{
    width: 100%;
    height: 450px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-the-vintage, .display-macro-accent, .display-mozaik{
    width: 47%;
    height: 92%;
    /* background-color: coral; */
}

.display-img-div{
    width: 100%;
    height: 80%;
    background-color: #181818;
    padding: 8% 5%;
    text-align: center;
}

.display-img-div img{
    width: 100%;
    height: 100%;
}

.display-foodasa{
    width: 47%;
    height: 92%;
    /* background-color:forestgreen; */
}

.featured-display-one h3, .featured-display-two h3{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 22px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.featured-display-one span, .featured-display-two span, .ui-design span, 
.branding span{
    font-family: 'Roboto', sans-serif;
    color: #C91B28;
    font-weight: 600;
}

.featured-display-one i, .featured-display-two i, .ui-design i, 
.branding i{
    color: #C91B28;
    font-weight: 600;
}


.featured-display-two{
    width: 100%;
    height: 450px;
    /* background-color: darkcyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.callout{
    width: 80%;
    height: 300px;
    background-color: #1E1E1E;
    /* padding: 5% 10%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EDEDED;
    margin-bottom: 30px;
    
}

.callout-text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
}

.callout-text p{
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
}

.callout-btn{
    padding: 16px 34px;
    border-radius: 0;
    border: none;
    background-color: #C91B28;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.footer-banner{
    width: 30%;
    height: 75px;
    /* background-color: aqua; */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-banner span{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

footer{
    width: 100%;
    height: 90px;
    background-color: #1E1E1E;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

footer img{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(0, -50%);
}

.social-links{
    width: 15%;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-links i{
    color: #ffffff;
}